@import './fonts/fonts.css';

html {
  font-size: 10px;
}

.body {
  margin: 0;
  background-color: #2f2c2f;
  color: #fff;
}

.section {
  width: calc(100% - 200px);
  margin: 0 auto 50px;
}

.section__title {
  max-width: 800px;
  margin: 0 0 30px;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1;
  text-align: center;
}

.section__subtitle {
  margin: 0 0 30px;
  max-width: 600px;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .section {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .section__title {
    font-size: 3rem;
  }

  .section__subtitle {
    font-size: 2rem;
  }
}